.button{
    background: #ffffff81;
    border-radius: 47px;
    color: black;
}

.button--huge {
    font-family: 'Viaoda Libre';
    width: 1194px;
    max-width: 100%;
    padding: 43px 104px;
    opacity: 5;
    font-size: 26px;
    align-items: center;
    margin-bottom: 250px;
   }

.button--hug{
    font-family: 'Viaoda Libre';
    font-size: 26px;
    opacity: 5;
    height: 82px;
    width: 32px;
    padding: 23px 63px;
    font-weight: 200;
    align-items: center;
    border-radius: 46px;
    position: fixed;
    top: 5px;
    left: 420px;
}

details summary{
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

i{
    font-size:30px;
    cursor:poi
}



.dropbtn--main{
    white-space: nowrap;
    display: flex;
    gap: 116px;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Viaoda Libre';
    background-color:#D8D6D5;
    height: 82px;
    align-items: center;
    padding: 45px 73px;
    font-weight: 200;
    border-radius: 46px;
    
}