@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import './buttons.css';

body {
font-family: 'Sedan', sans-serif;
min-height: 300vh;
background: white;
}
* {
    font-family: 'Viaoda Libre';
}
.none{
    display: none !important;
}

.header {
    padding: 20px 0 0 0;
    min-height: 800px;
    background-color: grey;
    background-image: url('./../img/backpeon.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 54px 54px;
}

.header a{
    color: black;
}

.container{
    /* margin: 0 50px; */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}


.container--header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.logo {
    
    position: absolute;
    top: 20px; 
    margin-left: -300px;
}

.nav-list{
    white-space: nowrap;
    display: flex;
    gap: 54px;
    font-size: 26px;
    font-weight:300;
    font-family: 'Viaoda Libre';
    background-color: rgba(255, 253, 253, 0.7);
    height: 82px;

    padding: 23px 63px;
    font-weight: 200;
    align-items: center;
    border-radius: 46px;
    
    
}

.nav-list__link{
     opacity: 0.7; 
}

.logo{
     flex-shrink: 0; 
}

.header__content{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
}

.header__title{
    font-family: 'Viaoda Libre';
    font-weight: 200;
    font-size: 56px;
    line-height: 1.3;
    gap: 5px;
    margin-top: 150px;
}

.nav-lixt__link {
    width: 100%;
}
section {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main{
    padding: 100px 0;
    /* width:511;
    height:38; */
    align-items:center;
    /* position: absolute; */
    /* margin: 0 auto; */
    /* left: 40%;
    transform: translateX(-50%); */
    background-image: url('../img/gvozdika.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.img__cont{
    float: right;
    margin-left: 50px;
    left: 50%;
    background-position: right;
}



body {background-color : #ededed; font-family : "Viaoda Libre", sans-serif;}

h1 {padding: 40px; text-align: center; font-family : "Viaoda Libre"; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31; font-family : "Viaoda Libre";}


/* nav {
  width : 750px; 
  background: #d9d9d9;
  margin : 40px auto; 
  font-family : "Viaoda Libre";
  border-radius: 23px;
} */

span {
  padding : 30px;
  background : #D8D6D5; 
  color : black;
  font-size : 26px;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  font-family : "Viaoda Libre";
  border-radius: 23px;

}

span::after {
  float: right;
  right: 60%;
  content: "+";
}

.slide {
  position: relative;
  padding: 40px;
  font-size: 36px;
  text-align: inherit;
}

.slide:after {
  position: absolute;
  width: 460px;
  max-width: 100%;
  height: 460px;
  background: url('../img/flowers.png');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  left: 0;
  top: 20px;
}


.slick-next {
    width: 252px !important;
    height: 220px !important;
    right: -200px !important;
    background-image: url('../img/arrow.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  .slick-next:before {
    display: none !important;
  }
  .stars {
display: flex;
gap: 10px;
  }
  .stars img {
    width: 60px;
    height: 55px;
  }

.slide1 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  font-size: 26px;
}


.slide1 li, 
.slide2 li, 
.slide3 li {padding : 30px; text-align: left;} 

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide1 {height: 650px;}


.slide2 {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    font-size: 26px;
  }
#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide2 {height: 500px;}


.slide3 {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    font-size: 26px;
  }
#touch3 {position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide3 {height: 400px;}

.header2 {
    padding: 20px 0 0 0;
    min-height: 800px;
    background-color: grey;
    background-image: url('./../img/plantgreen.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 54px 54px;
  
}

.header__title2{
    font-family: 'Viaoda Libre';
    font-weight: 200;
    font-size: 56px;
    line-height: 1.3;
    gap: 5px;
    margin-top: 150px;
}
body {background-color : #ededed; font-family : "Viaoda Libre", sans-serif;}

h1 {padding: 40px; text-align: center; font-family : "Viaoda Libre"; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31; font-family : "Viaoda Libre";}


/* nav {
  width : 750px; 
  background: #d9d9d9;
  margin : 40px auto; 
  font-family : "Viaoda Libre";
  border-radius: 23px;
} */

span {
  padding : 30px;
  background : #E8E0CD; 
  color : black;
  font-size : 26px;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  font-family : "Viaoda Libre";
  border-radius: 23px;

}

span::after {
  float: right;
  right: 60%;
  content: "+";
}
.slide4 {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    gap: 20;
    margin:20px;
    font-size: 26px;
  }
  
  .slide4 li, 
  .slide5 li, 
  .slide6 li {padding : 30px; text-align: left;}
  
  #touch4 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch4:checked + .slide4 {height: 350px;}
  
  
  .slide5 {
      clear:both;
      width:100%;
      height:0px;
      overflow: hidden;
      text-align: center;
      transition: height .4s ease;
      margin:20px;
      font-size: 26px;
    }
  #touch5 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch5:checked + .slide5 {height: 200px;}
  
  
  .slide6 {
      clear:both;
      width:100%;
      height:0px;
      overflow: hidden;
      text-align: center;
      transition: height .4s ease;
      font-weight: 200;
      margin: 20px;
      gap: 20;
      font-size: 26px;
    }
  #touch6 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch6:checked + .slide6 {height: 900px;}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* .body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f4fd;
    flex-direction: column;
  } */
  /* .container {
    max-width: 1200px;
    width: 95%;
  }
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  } */
  /* .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
  } */
  /* .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  } */
  /* .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    margin-bottom: 30px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
  } */
  /* .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  } */
  /* Styles for mobile and tablets */
  /* @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  } */
  .header3 {
    padding: 20px 0 0 0;
    min-height: 800px;
    background-image: url('./../img/plantdarkgreen.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 54px 54px;
  
}

.header__title3{
    font-family: 'Viaoda Libre';
    font-weight: 200;
    font-size: 56px;
    line-height: 1.3;
    gap: 5px;
    margin-top: 150px;
}
  .slide8 {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    font-size: 26px;
  }
#touch8 {position: absolute; opacity: 0; height: 0px;}    

#touch8:checked + .slide8 {height: 1000px;}
.slide9 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  font-size: 26px;
}
#touch9 {position: absolute; opacity: 0; height: 0px;}    

#touch9:checked + .slide9 {height: 1000px;}
.slide10 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  font-size: 26px;
}
#touch10 {position: absolute; opacity: 0; height: 0px;}    

#touch10:checked + .slide10 {height: 400px;}

.header4 {
  padding: 20px 0 0 0;
  min-height: 800px;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 54px 54px;
  background-image: url('./../img/oneflower.png');
}

.header__title4{
  font-family: 'Viaoda Libre';
  font-weight: 200;
  font-size: 56px;
  line-height: 1.3;
  gap: 5px;
  margin-top: 150px;
}

.container1 {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form-group {
  margin-bottom: 20px;
  font-family:  'Viaoda Libre';
  font-size: 26px;
  
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="tel"] {
  appearance: none;
}

input[type="tel"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #CCCCCB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #CCCCCB;
}

.header5 {
  padding: 20px 0 0 0;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 54px 54px;
    background-image: url('./../img/plantie.png');
}

.header__title5{
  font-family: 'Viaoda Libre';
    font-weight: 200;
    font-size: 56px;
    line-height: 1.3;
    gap: 5px;
    margin-top: 150px;
  }





/* .reviews-container {
  position: relative;
  overflow: hidden;
}

.reviews-slider {
  display: flex;
  flex-wrap: nowrap;
} */

.review-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 595px;
  width: 1072px;
  max-width: 100%;
  padding: 46px 78px 180px 78px;
    
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;

}

.review-card img {
  width: 230px;
  height: 230px;
}

.review-card p.client-name {
  text-align: center;
  width: 50%;
  font-size: 48px;
}
/* .client-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
} */




.img-rating, .name-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 40px;

}
.img-text {
  align-items: center;
}

.name-desc {
  margin-top: 140px
}





.reviews-container .slider {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.reviews-container .slick-next {
  right: 0;
  width: 120px !important;
  height: 120px !important;
}

.client-name {
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  color: #ffd700;
}

.rating-value {
  margin-left: 5px;
}

.review-text {
  margin-top: 10px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.genres ul li { 
  background-color: rgba(129, 148, 132, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 20px; 
}

.footerbody{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100hv;
  background: black;
}

.footer{
  position: relative;
  width: 100%;
  background: #6D8C7D;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menu{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}



footer .social_icon li,
footer .menu li{
  list-style: none;

}

footer .social_icon li a,
footer .menu li a {
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity:1;
}

footer p{
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation:  animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation:  animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation:  animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation:  animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}


